
<div>
    
    {{#unless beers}}
    <p>No beers aveilable</p>
    {{/unless}}
    {{#each beers}}
    <h1>Beers For All</h1>
    <br>
    <div class="one-beer">
 {{> beerpartial}}
 </div>
        <br>
    {{/each}}
</div>

