<div>

    <h1>Do you like this beers</h1>
    <br>
    <div class="flex left">


    </div>
    <div class="flex right">
{{> beerpartial randomBeer}}
        <p>Brewers tips:{{randomBeer.brewers_tips}}</p>
        <p>Food pairing:</p>
        <ul>
            {{#each randomBeer.food_pairing}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>

    <br>



</div>